{% load widget_tweaks %}
<div class="field {{ class }} {% if field.field.required %}required{% endif %} {% if field.errors %}error{% endif %}">
    <label>
        {% if label %}
            {{ label }}
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>
    {{ field }}
    {% if field.errors %}
        <div class="ui pointing red basic label">
            {% if rel == 'date' %}
                {{ field.errors.as_text|attr:"" }}
            {% else %}
                {{ field.errors.as_text }}
            {% endif %}
        </div>
    {% endif %}
</div>