{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" moznomarginboxes mozdisallowselectionprint>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>+JOB</title>

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" href="{% static 'assets/libs/semantic/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/jquery/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/datatables/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/datetimepicker-master/jquery.datetimepicker.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/icone.png' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    {% block styles %}{% endblock %}
    <style>
        .form ul {
            list-style: none;
        }
    </style>

    <style type="text/css" media="print">
        @page {
            size: auto;   /* auto is the initial value */
            margin: 7mm;  /* this affects the margin in the printer settings */
        }
    </style>
</head>
<body data-base-url="http://api.{{ request.get_host }}">

{% include 'partials/menu.html' %}
<br>
<div class="ui main container">
    {% block content %}{% endblock %}
</div>
<div class="ui tiny modal" id="modal_generico">
    <div class="header"></div>
    <div class="actions">

    </div>
    <br>
    <br>
</div>
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery/jquery.ui.js' %}"></script>
<script src="{% static 'assets/libs/chart/chart.min.js' %}"></script>
<script src="{% static 'assets/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/libs/semantic/semantic.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/dataTables.semanticui.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables/datetime-moment.js' %}"></script>
<script src="{% static 'assets/libs/datetimepicker-master/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery.inputmask.bundle.js' %}"></script>
<script src="{% static 'assets/libs/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/js/html2canvas.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script>
    $.fn.dataTable.moment('DD/MM/YYYY');

    let DATA_TABLE_LANGUAGE = {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
        }
    };

    $('.datatable').DataTable({
        language: DATA_TABLE_LANGUAGE,
        columnDefs: [
            {targets: 'no-sort', orderable: false},
        ]
    });

    jQuery.datetimepicker.setLocale('pt-BR');

    const DATETIME = () => {
        jQuery('.datetime').datetimepicker({
            timepicker: true,
            format: 'd/m/Y H:i',
            onChangeDateTime: function (current_time, $input) {
                $input.find('input').val(moment(current_time).format('DD/MM/Y HH:mm'));
            }
        });
    };

    DATETIME();

    const MODAL = (texto, link, onclick, btn) => {
        $modal_generico = $('#modal_generico');
        $modal_generico.click(() => {
            $modal_generico.modal('hide');
        });

        if (!btn) {
            btn = `<a  class="ui labeled icon button teal right floated">
                        <i class="check icon"></i>
                        Ok
                    </a>`;

        }
        $modal_generico.find('.header').html(texto);
        $modal_generico.find('.actions').html(btn);
        if (onclick) {
            $modal_generico.find('.red.right.floated').attr('onclick', onclick);
        } else if (link) {
            $modal_generico.find('.red.right.floated').attr('href', link);
        }
        $modal_generico.modal({closable: false}).modal('show')
    };

    const MODAL_APAGAR = (texto, link, onclick) => {
        let btn = `<a class="ui labeled icon button red right floated">
            <i class="trash icon"></i>
            Apagar
        </a>
        <button class="ui cancel labeled icon button black right floated">
            <i class="cancel icon"></i>
            Cancelar
        </button>`;
        MODAL(texto, link, onclick, btn)
    };

    const round = (numero) => {
        numero = String(numero);
        if (numero.indexOf(',') > -1) {
            numero = numero.replace(',', '.');
        }
        if (numero.indexOf('.') > -1) {
            if (numero.length == 3) {
                numero = numero + '00';
            } else if (numero.length == 4) {
                numero = numero + '0';
            } else {
                let index = numero.indexOf('.');
                numero = numero.substring(0, index + 3)
            }
        } else {
            numero = numero + '.00';
        }

        return numero.replace('.', ',');
    }


</script>
{% block scripts %}{% endblock %}
{% include 'partials/messages_toastr.html' %}
</body>
</html>