{% load staticfiles %}
<style>
    @media screen and (max-width: 600px) {
        #menuzinho {
            left: 2% !important;
            top: 102% !important;
        }
    }

    .main.container {
        padding-top: 0px;
    }

</style>
<div class="ui stackable inverted menu" style="margin: 0px">
    <div class="ui container">
        <a href="{% url 'home' %}" class="header item" style="background-color: #e8e8e8;">
            <img class="logo" src="{% static 'assets/images/logo.png' %}">
        </a>
        <a href="{% url 'home' %}" class="item no-print">
            <i class="home icon"></i>Home
        </a>
        <div id="menu_cadastros" class="ui simple dropdown item no-print">
            <i class="plus icon"></i>Cadastros <i class="dropdown icon"></i>
            <div class="menu" style="max-width: 220px">
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i>
                    Ação &nbsp;&nbsp;
                    <div id="menuzinho" class="menu">
                        <a id="aaa" class="item" href="{% url 'cadastros-acao-create' %}">Adicionar</a>
                        <a class="item" href="{% url 'cadastros-acao-list' %}">Listar</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="dropdown icon"></i>
                    Job &nbsp;&nbsp;
                    <div id="menuzinho" class="menu">
                        <a class="item" href="{% url 'cadastros-job-create' %}">Adicionar</a>
                        <a class="item" href="{% url 'cadastros-job-list' %}">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu_candidatos" class="ui simple dropdown item no-print">
            <i class="address card icon"></i>Candidatos <i class="dropdown icon"></i>
            <div class="menu" style="max-width: 220px">
                <a class="item" href="{% url 'candidatura-list' %}">Listar candidatos</a>
                <a class="item" href="{% url 'candidatura-jogo' %}">Selecionar candidato</a>
            </div>
        </div>
        {% if request.user.is_superuser %}
            <div id="menu_administrativos" class="ui simple dropdown item no-print">
                <i class="briefcase icon"></i>Administrativo <i class="dropdown icon"></i>
                <div class="menu" style="max-width: 220px">
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        Agência &nbsp;&nbsp;
                        <div id="menuzinho" class="menu">
                            <a id="aaa" class="item" href="{% url 'cadastros-agencia-create' %}">Adicionar</a>
                            <a class="item" href="{% url 'cadastros-agencia-list' %}">Listar</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        Tipo job &nbsp;&nbsp;
                        <div id="menuzinho" class="menu">
                            <a class="item" href="{% url 'cadastros-tipojob-create' %}">Adicionar</a>
                            <a class="item" href="{% url 'cadastros-tipojob-list' %}">Listar</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        Promotor credenciado &nbsp;&nbsp;
                        <div id="menuzinho" class="menu">
                            <a class="item" href="{% url 'cadastros-credenciamento-list' %}">Listar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="right menu no-print">
            <a href="{% url 'logout' %}" class="ui item">Sair</a>
        </div>
    </div>
</div>
