{% extends 'partials/layout.html' %} {% block content %}
    {% load staticfiles %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="column">
                    <h2><i class="list circle icon"></i>Selecionar candidato</h2>
                </div>
                <div class="ui divider"></div>
                <div class="ui form ">
                    <form>
                        <div class="fields">
                            <div class="field eight wide ">
                                <label>
                                    Selcione um job
                                </label>
                                <select id="id_job" name="acao" required="">
                                    <option value="" selected="selected">---------</option>
                                    {% for job in job_lista %}
                                        <option value="{{ job.id }}">{{ job.id }} - {{ job.acao }}
                                            - {{ job.tipo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
                <div id="mensagem">
                    <div class="ui ignored warning message">
                        <b>Selecione um job.</b>
                    </div>
                </div>
                <div id="tabela" style="display: none;">
                    <div class="ui five stackable  cards">
                        <div class="card">
                            <div class="content">
                                <div class="header">Ativos</div>
                            </div>
                            <div class="extra ce content">
                                <div class="ui green statistic">
                                    <div class="value" id="ativas_statistic">
                                        <i class="small close icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Selecionados</div>
                            </div>
                            <div class="extra content">

                                <div class="ui blue statistic">
                                    <div class="value" id="selecionados_statistic">
                                        <i class="small archive icon"></i>
                                        0
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Aprovados</div>
                            </div>
                            <div class="extra content">
                                <div class="ui green statistic">
                                    <div class="value" id="aprovados_statistic">
                                        <i class="small check icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Reprovados</div>
                            </div>
                            <div class="extra content">
                                <div class="ui red statistic">
                                    <div class="value" id="reprovadas_statistic">
                                        <i class="small close icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="header">Total</div>
                            </div>
                            <div class="extra content">
                                <div class="ui statistic">
                                    <div class="value" id="totais_statistic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" onclick="ABRIR();" class="fluid ui button">Jogar</button>
                </div>
            </div>
        </div>
        <div class="ui basic modal" id="modal_jogo">
            <div class="ui grid" style="margin: 0; padding: 0">
                <div class="two wide column" style="padding: 0;">
                    <button class="ui fluid icon button"
                            id="promotor_anterior"
                            style="border-radius:0; box-shadow:none; min-height: 100% !important; height: 100%; padding: 0; margin: 0">
                        <i class="large arrow left icon"></i>
                    </button>
                </div>
                <div class="twelve wide column" style="padding: 0">
                    <div class="ui  fluid card" style="border-radius: 0; box-shadow:none;">
                        <button id="promotor_imagem_anterior" style="border-radius:0; box-shadow:none;"
                                class="ui fluid icon button">
                            <i class="arrow up icon"></i> Foto anterior
                        </button>
                        <img id="promotor_imagem" class="ui image centered" style="height: 250px;:width auto;font-size: 1rem;" src="{% static 'assets/images/image.png' %}">
                        <button id="promotor_imagem_proximo" style="border-radius:0; box-shadow:none;"
                                class="ui fluid icon button">
                            <i class="arrow down icon"></i> Proxima foto
                        </button>
                        <div class="content">
                            <a class="header" id="promotor_nome"></a>
                        </div>
                        <div class="extra content">
                            <p style="color: #000000" id="promotor_idade"></p>
                        </div>
                        <div class="extra content">
                            <p style="color: #000000" id="promotor_peso"></p>
                        </div>
                        <div class="extra content">
                            <p style="color: #000000" id="promotor_altura"></p>
                        </div>
                        <div class="extra content" style="padding: 0">
                            <div class="ui three buttons" id="promotor_btn">
                                <button style="border-radius:0; box-shadow:none;" class="ui blue button">
                                    Entrevista
                                </button>
                                <button style="border-radius:0; box-shadow:none;" class="ui red button">
                                    Reprovar
                                </button>
                                <button style="border-radius:0; box-shadow:none;" class="ui green button">
                                    Aprovar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column" style="padding: 0; ">
                    <button onclick="FECHAR();" class="ui fluid button" style="border-radius:0;position: absolute;">
                        <i class="large close center icon" style=""></i>
                    </button>
                    <button class="ui fluid button"
                            id="promotor_proximo"
                            style="border-radius:0; box-shadow:none; min-height: 100% !important; height: 100%; padding: 0; margin: 0">
                        <i class="large arrow right icon"></i>
                    </button>
                </div>
            </div>
            <div id="load" class="ui dimmer active">
                <div class="ui text loader">Carregando</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const $id_job = $('#id_job');
        const $tabela = $('#tabela');
        const $mensagem = $('#mensagem');
        const $modal_jogo = $('#modal_jogo');

        $id_job.change(function () {
            CANDIDATOS.get(true);
        });

        function load(load) {
            if (load) {
                $('#load').addClass('active')
            } else {
                $('#load').removeClass('active')
            }
        }

        const IMAGEM = (candidato, index) => {
            let candidatos = JSON.parse(localStorage.getItem('CANDIDATURAS'));

            candidatos = candidatos.filter((x) => {
                return x.id == candidato
            });

            candidato = candidatos[0];

            $('#promotor_imagem').attr('src', candidato.promotor.imagens[index].path);

            if ((index - 1) < 0) {
                $('#promotor_imagem_anterior').attr('onclick', `IMAGEM(${candidato.id}, ${candidato.promotor.imagens.length - 1})`);
            } else {
                $('#promotor_imagem_anterior').attr('onclick', `IMAGEM(${candidato.id}, ${index - 1})`);
            }

            if ((index + 1) == candidato.promotor.imagens.length) {
                $('#promotor_imagem_proximo').attr('onclick', `IMAGEM(${candidato.id}, 0)`);
                $('#promotor_imagem').attr('onclick', `IMAGEM(${candidato.id}, 0)`);
            } else {
                $('#promotor_imagem_proximo').attr('onclick', `IMAGEM(${candidato.id}, ${index + 1})`);
                $('#promotor_imagem').attr('onclick', `IMAGEM(${candidato.id}, ${index + 1})`);
            }

            $.ajax({
                url:$('#promotor_imagem').attr('src').replace('https://maisjob.rnsoft.com.br', location.origin),
                type:'get',
                async: false,
                error:function(){
                    $('#promotor_imagem').attr('src', 'https://maisjob.rnsoft.com.br/media/imagem/sem_foto.jpg'.replace('https://maisjob.rnsoft.com.br', location.origin));
                }
            });
        };

        const SELECIONAR = (index) => {
            let candidatos = JSON.parse(localStorage.getItem('CANDIDATURAS'));

            if (!candidatos.length) {
                return
            }

            if (!index) {
                index = 0
            }


            let candidato = candidatos[index];
            let idx = 0;

            if ((index - 1) < 0) {
                $('#promotor_anterior').attr('onclick', `SELECIONAR(${candidatos.length - 1})`);
            } else {
                $('#promotor_anterior').attr('onclick', `SELECIONAR(${ index - 1})`);
            }

            if ((index + 1) == candidatos.length) {
                $('#promotor_proximo').attr('onclick', `SELECIONAR(0)`);
            } else {
                idx = index + 1;
                $('#promotor_proximo').attr('onclick', `SELECIONAR(${idx})`);
            }

            localStorage.setItem('INDEX', idx);

            let btn_selecionar = `<a onclick="CANDIDATOS.status(${candidato.id}, 3, ${idx})" class="ui button blue" style="border-radius:0; box-shadow:none;width: 35%; overflow: hidden; text-overflow: ellipsis;">
                                    Selecionar
                                </a>`;
            let btn_ativar = `<a onclick="CANDIDATOS.status(${candidato.id}, 1, ${idx})" class="ui button green" style="border-radius:0; box-shadow:none;width: 35%; overflow: hidden; text-overflow: ellipsis;">
                                Ativar
                            </a>`;
            let btn_aprovar = `<a onclick="CANDIDATOS.status(${candidato.id}, 4, ${idx})" class="ui button green" style="border-radius:0; box-shadow:none;width: 35%; overflow: hidden; text-overflow: ellipsis;">
                                Aprovar
                            </a>`;
            let btn_reprovar = `<a onclick="CANDIDATOS.status(${candidato.id}, 5, ${idx})" class="ui button red" style="border-radius:0; box-shadow:none;width: 35%; overflow: hidden; text-overflow: ellipsis;">
                                    Reprovar
                                </a>`;

            let btn_reprovar_entrevista = `<a onclick="CANDIDATOS.status(${candidato.id}, 6, ${idx})" class="ui button red" style="width: 35%; overflow: hidden; text-overflow: ellipsis;">
                                                Reprovar na entrevista
                                            </a>`;


            $('#promotor_nome').html(candidato.promotor.nome_completo);
            $('#promotor_idade').html(`<i class="calendar alternate icon"></i>  ${candidato.idade} anos`);
            $('#promotor_peso').html(`<i class="balance scale icon"></i>  ${candidato.promotor.peso}kg`);
            $('#promotor_altura').html(`<i class="sort numeric up icon"></i>  ${candidato.promotor.altura}cm`);


            $('#promotor_imagem').attr('src', candidato.promotor.imagens[0].path);
            $('#promotor_imagem').attr('onclick', `IMAGEM(${candidato.id}, ${candidato.promotor.imagens.length - 1})`);
            $('#promotor_imagem_anterior').attr('onclick', `IMAGEM(${candidato.id}, ${candidato.promotor.imagens.length - 1})`);
            $('#promotor_imagem_proximo').attr('onclick', `IMAGEM(${candidato.id}, 1)`);

            let btn = '';
            if (candidato.status == 1) {
                if (candidato.job.acao.publico_tem_entrevista) {
                    btn = btn_selecionar;
                }
                btn += btn_aprovar + btn_reprovar;
            } else if (candidato.status == 3) {
                btn = btn_reprovar;
                if (candidato.job.acao.publico_tem_entrevista) {
                    btn += btn_reprovar_entrevista;
                }
            } else if (candidato.status == 4) {
                btn = btn_reprovar;
            } else if (candidato.status == 5 || candidato.status == 6) {
                btn = btn_ativar
            }
            $('#promotor_btn').html(btn);
            $.ajax({
                url:$('#promotor_imagem').attr('src').replace('https://maisjob.rnsoft.com.br', location.origin),
                type:'get',
                async: false,
                error:function(){
                    $('#promotor_imagem_proximo').click();
                }
            });
        };

        const ACABOU = () => {
            $modal_jogo.modal('hide');
            MODAL('Acabaram os candidatos ativos.')
        };

        const FECHAR = () => {
            $modal_jogo.modal('hide');
        };

        const ABRIR = () => {
            let candidaturas = JSON.parse(localStorage.getItem('CANDIDATURAS'));
            if (candidaturas.length) {
                SELECIONAR(0);
                $modal_jogo.modal('show');
            } else {
                ACABOU();
            }
        };

        const CANDIDATOS = {
            get: (nao_selecionar) => {
                $mensagem.show();
                $mensagem.find('.ignored').html('<b>Procurando...</b>');
                $tabela.hide();
                if ($id_job.val()) {
                    load(true);
                    $.ajax({
                        url: `${window.location.origin}/api/job/${$id_job.val()}/candidaturas/`,
                        headers: {
                            'Authorization': 'Token {{ user.token }}',
                            'Content-Type': 'application/json'
                        },
                        success: function (candidaturas) {
                            if (candidaturas.length) {
                                let selecionadas = candidaturas.filter((x) => {
                                    return x.status == 3
                                });
                                let aprovados = candidaturas.filter((x) => {
                                    return x.status == 4
                                });
                                let reprovadas = candidaturas.filter((x) => {
                                    return x.status == 5 || x.status == 6
                                });
                                let ativas = candidaturas.filter((x) => {
                                    return x.status == 1
                                });

                                localStorage.setItem('CANDIDATURAS', JSON.stringify(ativas));

                                if (!nao_selecionar) {
                                    if (ativas.length) {
                                        SELECIONAR(0);
                                    } else {
                                        ACABOU();
                                    }
                                }

                                $('#ativas_statistic').html(`<i class="small check icon"></i>${ativas.length}`);
                                $('#selecionados_statistic').html(`<i class="small archive icon"></i>${selecionadas.length}`);
                                $('#aprovados_statistic').html(` <i class="small check icon"></i>${aprovados.length}`);
                                $('#reprovadas_statistic').html(`<i class="small close icon"></i>${reprovadas.length}`);
                                $('#totais_statistic').html(candidaturas.length);
                                $tabela.show();
                                $mensagem.hide();
                                load(false);
                            } else {
                                load(false);
                                $mensagem.find('.ignored').html('<b>Nenhuma candidatura para esse job.</b>')
                            }
                        },
                        error: function (response) {
                            toastr.error(response.responseJSON.detail);
                        },
                    })
                } else {
                    $mensagem.find('.ignored').html('<b>Selecione um job.</b>')
                }
            },
            status: (id, status, index) => {
                $.ajax({
                    type: 'POST',
                    url: `${window.location.origin}/api/candidatura/${id}/status/${status}/`,
                    headers: {
                        'Authorization': 'Token {{ user.token }}',
                        'Content-Type': 'application/json'
                    },
                    success: function (response) {
                        toastr.success(response.sucesso[0])
                        CANDIDATOS.get();
                    },
                    error: function (response) {
                        toastr.error(response.responseJSON.error[0])
                    },
                })
            }
        };

        localStorage.clear();

    </script>
{% endblock %}