{% extends 'partials/layout.html' %} {% block content %}
    {% load staticfiles %}

    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de candidator por job</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui form ">
                    <form>
                        <div class="fields">
                            <div class="field eight wide ">
                                <label>
                                    Selcione um job
                                </label>
                                <select id="id_job" name="acao" required="">
                                    <option value="" selected="selected">---------</option>
                                    {% for job in job_lista %}
                                        <option value="{{ job.id }}">{{ job.id }} - {{ job.acao }}
                                            - {{ job.tipo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabela" style="display: none">
                    <table class="ui celled selectable compact table datatable">
                        <thead>
                        <tr>
                            <th class="center aligned six wide">Código</th>
                            <th class="center aligned three wide">Nome</th>
                            <th class="center aligned one wide">Sexo</th>
                            <th class="center aligned one wide">Status</th>
                            <th class="center aligned one wide">Idade</th>
                            <th class="center aligned one wide">Peso</th>
                            <th class="center aligned one wide">Altura</th>
                            <th class="center aligned one wide">Telefone</th>
                            <th class="center aligned three wide no-sort">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="mensagem">
                    <div class="ui ignored warning message">
                        <b>Selecione um job.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="load" class="ui dimmer">
        <div class="ui text loader">Carregando</div>
    </div>
    <div class="ui small modal" id="modal_fotos">
        <div class="header">Header</div>
        <div class="content">
            <div class="ui medium images">
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Sair</div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://rawgit.com/igorescobar/jQuery-Mask-Plugin/master/dist/jquery.mask.min.js" ></script>
    <script>
        const $id_job = $('#id_job');
        const $tabela = $('#tabela');
        const $mensagem = $('#mensagem');

        let ROW = false;

        $id_job.change(function () {
            CANDIDATOS.get();
        });

        function load(load) {
            if (load) {
                $('#load').addClass('active')
            } else {
                $('#load').removeClass('active')
            }
        }

        const CANDIDATOS = {
            get: () => {
                $mensagem.show();
                $mensagem.find('.ignored').html('<b>Procurando...</b>');
                $tabela.hide();
                if ($id_job.val()) {
                    load(true);
                    $.ajax({
                        url: `${window.location.origin}/api/job/${$id_job.val()}/candidaturas/`,
                        headers: {
                            'Authorization': 'Token {{ user.token }}',
                            'Content-Type': 'application/json'
                        },
                        success: function (candidaturas) {
                            if (candidaturas.length) {
                                let lista = [];
                                for (candidato of candidaturas) {
                                    let btn_selecionar = `<a onclick="CANDIDATOS.status(${candidato.id}, 3)" class="ui icon mini button blue">
                                                            Selecionar para entrevista
                                                        </a>`;
                                    let btn_ativar = `<a onclick="CANDIDATOS.status(${candidato.id}, 1)" class="ui icon mini button green">
                                                            Ativar
                                                        </a>`;
                                    let btn_aprovar = `<a onclick="CANDIDATOS.status(${candidato.id}, 4)" class="ui icon mini button green">
                                                                Aprovar
                                                            </a>`;
                                    let btn_reprovar = `<a onclick="CANDIDATOS.status(${candidato.id}, 5)" class="ui icon mini button red">
                                                                 Reprovar
                                                            </a>`;

                                    let btn_reprovar_entrevista = `<a onclick="CANDIDATOS.status(${candidato.id}, 6)" class="ui icon mini button red">
                                                                 Reprovar na entrevista
                                                            </a>`;

                                    let btn = '';
                                    if (candidato.status == 1) {
                                        if (candidato.job.acao.publico_tem_entrevista) {
                                            btn = btn_selecionar;
                                        }
                                        btn += btn_aprovar + btn_reprovar;
                                    } else if (candidato.status == 3) {
                                        btn = btn_reprovar;
                                        if (candidato.job.acao.publico_tem_entrevista) {
                                            btn += btn_reprovar_entrevista;
                                        }
                                    } else if (candidato.status == 4) {
                                        btn = btn_reprovar;
                                    } else if (candidato.status == 5 || candidato.status == 6) {
                                        btn = btn_ativar
                                    }

                                    lista.push([
                                        `<div data-candidatura='${JSON.stringify(candidato)}' class="right aligned candidatura onclick">${candidato.id}</div>`,
                                        candidato.promotor.nome_exibicao,
                                        candidato.promotor.sexo__display,
                                        candidato.status__display,
                                        `<div class="right aligned">${candidato.idade}</div>`,
                                        `<div class="right aligned">${candidato.promotor.peso}</div>`,
                                        `<div class="right aligned">${candidato.promotor.altura}</div>`,
                                        `<div class="telefone" style="flex-direction:row;display: flex;justify-content: center;">${(candidato.status == 3 || candidato.status == 4) ? candidato.promotor.telefone :
                                            'Indisponível &nbsp' +
                                            '<b data-tooltip="Você só pode ver o telefone de candidatos aprovados.">(?)</b>'} </div>`,
                                        `<div class="center aligned">${btn}</div>`
                                        ,
                                    ]);
                                }
                                $tabela.find('table').DataTable().clear().rows.add(lista).draw();
                                $tabela.show();
                                $mensagem.hide();
                                {#$(".telefone").mask("(00) 0000-00009");#}
                                load(false);
                            } else {
                                load(false);
                                $mensagem.find('.ignored').html('<b>Nenhuma candidatura para esse job.</b>')
                            }
                        },
                        error: function (response) {
                            load(false);
                            toastr.error(response.responseJSON.detail);
                        }
                    })
                } else {
                    $mensagem.find('.ignored').html('<b>Selecione um job.</b>')
                }
            },
            status: (id, status) => {
                ROW = true;
                $.ajax({
                    type: 'POST',
                    url: `${window.location.origin}/api/candidatura/${id}/status/${status}/`,
                    headers: {
                        'Authorization': 'Token {{ user.token }}',
                        'Content-Type': 'application/json'
                    },
                    success: function (success) {
                        CANDIDATOS.get();
                    },
                    error: function (response) {
                        toastr.error(response.responseJSON.error[0])
                    },
                })
            }
        };

        $('table tbody').on('click', 'tr', function () {
            if (ROW){
                ROW = false;
                return;
            }
            let candidatura = $(this).find('.candidatura').attr('data-candidatura');
            candidatura = JSON.parse(candidatura);
            let html = '';
            for (image of candidatura.promotor.imagens) {
                html += `<img src="${image.path}">`;
            }
            let $modal_fotos = $('#modal_fotos');
            $modal_fotos.find('.ui.medium.images').html(html);
            $modal_fotos.find('.header').html(candidatura.promotor.nome_exibicao);
            $modal_fotos.modal('show')
        });
    </script>
{% endblock %}