{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de agência</h2>
                    </div>
                    <div class="column">
                        <a href="{% url 'cadastros-agencia-create' %}"
                           class="ui labeled right floated icon button">
                            <i class="plus icon"></i>
                            Nova agência
                        </a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <table class="ui celled selectable compact table">
                    <thead>
                    <tr>
                        <th class="center aligned one wide">Código Indicação</th>
                        <th class="center aligned two wide">CPF/CNPJ</th>
                        <th class="center aligned two wide">Tipo Pessoa</th>
                        <th class="center aligned one wide">Nome Exibição</th>
                        <th class="center aligned one wide">Nome Razão Social</th>
                        <th class="center aligned one wide">Contato</th>
                        <th class="center aligned one wide">Telefone</th>
                        <th class="center aligned two wide">E-mail</th>
                        <th class="center aligned two wide no-sort">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if agencia_lista %}
                        {% for agencia in agencia_lista %}
                            <tr>
                                <td>{{ agencia.codigo_indicacao }}</td>
                                <td>{{ agencia.cpf_cnpj }}</td>
                                <td>{{ agencia.tipo_pessoa }}</td>
                                <td>{{ agencia.nome_exibicao }}</td>
                                <td>{{ agencia.nome_razao_social }}</td>
                                <td>{{ agencia.contato }}</td>
                                <td>{{ agencia.telefone }}</td>
                                <td>{{ agencia.email }}</td>
                                <td class="center aligned">
                                    <a href="{% url 'cadastros-agencia-update' agencia.id %}"
                                       class="ui icon tiny button green">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a class="ui icon tiny button red"
                                       onclick="MODAL_APAGAR('Confirma a exclusão de agência?', '{% url 'cadastros-agencia-delete' agencia.id %}')">
                                        <i class="trash icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">
                                <div class="ui ignored warning message">
                                    <b>Nenhuma agência cadastrada.</b>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}