.page {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    /*background: linear-gradient(to bottom, #991e1e 0%,#caad20 100%,#d87a29 100%,#7db9e8 100%);*/
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
}
.header {
    background-color: rgba(0,0,0,0.5);
    color: #fafafa;
    width: 100%;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em;
}
.flex_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;
}
.flex_row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em;
}
.flex_scroll {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em;
    overflow: scroll;
}
.note {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.2em;
    border-style: dashed;
    border-color: #BB0510;
    border-width: 0.1em;
    margin-bottom: 2em;
    padding: 2em;
}
.numero_questao {
    position: absolute;
    left: 15px;
    margin-top: -45px !important;
    pointer-events: none;
}
.questao {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.2em;
    margin-bottom: 2em;
    padding: 2em;
    color: #fafafa;
}
.questoes {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.respostas {
    display: flex;
    align-items: center;
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #fafafa;
    border-style: solid;
    padding-bottom: 0.5em;
    color: #fafafa;
    width: 100%;
    margin-bottom: 1em;
}
.form_app {
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    width: 20em;
}
.select_app {
    text-align-last: center;
    margin-bottom: 1em;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-radius: 0px;
}
.input_app {
    margin-bottom: 1em;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-width: 1px;
    border-radius: 0px;
    text-align: center;
}