body {
    background-color: #e8e8e8;
}

.table-text-center > * {
    text-align: center;
}

.main.container {
    padding-top: 5em;
}

.logo {
    width: 3.5em !important;
}

.moduloApoio {
    border-top: 3px solid #FAAC58;
}

.moduloOperacional {
    border-top: 3px solid #5882FA;
}

.moduloGestao {
    border-top: 3px solid #82FA58;
}

.ui.inverted.menu {
    background-color: #2989D8;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
     .print, .print * {
        display: block !important;
    }
}

@page {
  size: A4;
}
page {
    background: transparent;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    border: 3px dashed #00aced;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}

#modal_jogo {
    margin-top: 0 !important;
    top: 0 !important;
}