{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui one column grid">
                    <div class="column">
                        <h2>
                            <i class="add circle icon"></i>Formulário de tipo de job</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="column">
                <div class="ui form {% if form.errors %}error{% endif %}">
                    {{ form.non_field_errors }} {% if form.errors %}
                    <div class="ui error message">
                        <p>
                            {% if form.errors|length == 1 %} Por favor, corrija o erro abaixo. {% else %} Por favor,
                                corrija
                                os erros abaixo. {% endif %}
                        </p>
                    </div>
                {% endif %}
                    <form method="post" id="form" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                        {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                        <div class="ui two column grid">
                            <div class="column">
                                <div class="fields">
                                    {% include 'partials/form_field.html' with field=form.descricao label="Descrição" class="sixteen wide" %}
                                    {% include 'partials/form_field.html' with field=form.modo_pagamento_sugerido label="Modo de pagamento sugerido" class="sixteen wide" %}
                                </div>
                            </div>
                        </div>
                        <button type="submit" name="outro" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar e cadastrar outro
                        </button>
                        <button type="submit" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar
                        </button>
                        <a href="{% url 'cadastros-tipojob-list' %}" class="ui labeled icon button black right floated">
                            <i class="cancel icon"></i>
                            Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
