{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de tipo de job</h2>
                    </div>
                    <div class="column">
                        <a href="{% url 'cadastros-tipojob-create' %}"
                           class="ui labeled right floated icon button">
                            <i class="plus icon"></i>
                            Novo tipo de job
                        </a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <table class="ui celled selectable compact table">
                    <thead>
                    <tr>
                        <th class="center aligned one wide">Código</th>
                        <th class="center aligned five wide">Descrição</th>
                        <th class="center aligned five wide">Modo de pagamento</th>
                        <th class="center aligned five wide no-sort">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if tipojob_lista %}
                        {% for tipojob in tipojob_lista %}
                            <tr>
                                <td>{{ tipojob.id }}</td>
                                <td>{{ tipojob.descricao }}</td>
                                <td>{{ tipojob.get_modo_pagamento_sugerido_display }}</td>
                                <td class="center aligned">
                                    <a href="{% url 'cadastros-tipojob-update' tipojob.id %}"
                                       class="ui icon tiny button green">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a class="ui icon tiny button red"
                                       onclick="MODAL_APAGAR('Confirma a exclusão de tipo job?', '{% url 'cadastros-tipojob-delete' tipojob.id %}')">
                                        <i class="trash icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                <div class="ui ignored warning message">
                                    <b>Nenhuma tipo de job cadastrado.</b>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}