{% extends 'partials/layout.html' %}
{% load staticfiles %}

{% block content %}
    <div id="conteudo">

    </div>
    <br/>
    <br/>
{% endblock %}
{% block scripts %}
    <script>
        let segmentos = '';

        function getSegmento(elemento) {
            let cards = '';
            if (elemento.length) {
                elemento.children('.menu').children('.ui.dropdown.item, .item').each(function () {

                    let self = $(this);

                    let nome = self.text().trim().split(/(?:\r\n|\r|\n)/g);

                    if (nome && (self.prop("tagName") === "A" ? ($(this).attr('class') === 'item' ? true : false) : true)) {
                        nome = nome[0];
                        let btns = [];
                        let elemento = null;
                        if (self.attr('class') === 'ui dropdown item') {
                            elemento = self.find('.item');
                        } else {
                            elemento = self
                        }

                        elemento.each(function () {
                            if ($(this).text() === 'Adicionar') {
                                btns = btns.concat([`<a href="${$(this).attr('href')}" class="ui button">
                            <i class="add icon"></i>
                            Adicionar
                        </a>`]);
                            } else if ($(this).text() === 'Listar') {
                                btns = btns.concat([`<a href="${$(this).attr('href')}" class="ui button">
                            <i class="list icon"></i>
                            Listar
                        </a>`]);

                            } else if ($(this).text() === self.text()) {
                                btns = btns.concat([`<a href="${$(this).attr('href')}" class="ui button">
                            Entrar
                        </a>`]);
                            } else {
                                btns = btns.concat([`<a href="${$(this).attr('href')}" class="ui button">
                            ${$(this).text()}
                        </a>`]);
                            }
                        });
                        let aux = '';
                        if (btns.length > 2) {
                            for (let i = 1; i <= btns.length; i++) {
                                aux += `
                             <div class="ui two buttons" style="margin-bottom:5px;">
                             ${btns[i - 1] && btns[i - 1]}
                             ${btns[i] && btns[i]}
                             </div>
                            `;
                                i++;
                            }
                            cards += `
                            <div class="card">
                                <div class="content">
                                    <div class="header">${nome}</div>
                                </div>
                                <div class="extra content">
                                    ${aux}
                                </div>
                            </div>`

                        } else {
                            cards += `
                            <div class="card">
                                <div class="content">
                                    <div class="header">${nome}</div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                    ${btns}
                                    </div>
                                </div>
                            </div>`
                        }
                    }
                });
                return `
                <div class="ui segment">
                    <div class="ui one column grid">
                        <div class="column">
                            <h2><i class="${$(elemento.find('.icon')[0]).attr('class')}"></i> ${elemento.text().split(/(?:\r\n|\r|\n)/g)[1]}</h2>
                        </div>
                    </div>
                    <div class="ui cards centered">
                        ${cards}
                    </div>
                </div>`;
            }
            return cards;
        }

        segmentos += getSegmento($('#menu_cadastros'));
        segmentos += getSegmento($('#menu_candidatos'));
        segmentos += getSegmento($('#menu_administrativos'));

        $('#conteudo').html(segmentos);
    </script>
{% endblock %}