{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>+JOB</title>
    <!-- LOAD JQUERY -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <!-- SEMANTIC UI -->
    <link rel="stylesheet" href="{% static 'assets/libs/semantic/semantic.css' %}">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/icone.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/icone.png' %}"/>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <img src="{% static 'assets/images/logo.png' %}" class="image" height="130">
        <form class="ui large form" method="post">{% csrf_token %}
            <div class="ui stacked segment">
                <h3>Área Administrativa</h3>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" placeholder="E-mail" name="username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Senha" name="password">
                    </div>
                </div>
                <button type="submit" class="ui fluid large teal submit button">Entrar</button>
            </div>
        </form>
        {% if form.errors %}
            <div class="ui negative message" style="text-align: left;">
                <i class="close icon"></i>
                <div class="header">O formulário contém erro(s):</div>
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                    <ul class="list">
                        {% if field.errors %}
                            <li><strong>{{ field.label }}</strong> - {{ field.errors|striptags }}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'assets/libs/semantic/semantic.min.js' %}"></script>
<script>
    jQuery(function () {
        $('.message .close')
            .on('click', function () {
                $(this).closest('.message').transition('fade');
            });
    });
    localStorage.setItem("logo", "{{logo}}");
    localStorage.setItem("nome", "{{nome}}");
</script>
</body>
</html>