{% extends 'partials/layout.html' %} {% block content %}
    {% load widget_tweaks %}

    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui one column grid">
                    <div class="column">
                        <h2>
                            <i class="add circle icon"></i>Credenciamento</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="column">
                <div class="ui form {% if form.errors %}error{% endif %}">
                    {{ form.non_field_errors }} {% if form.errors %}
                    <div class="ui error message">
                        <p>
                            {% if form.errors|length == 1 %} Por favor, corrija o erro abaixo. {% else %} Por favor,
                                corrija
                                os erros abaixo. {% endif %}
                        </p>
                    </div>
                {% endif %}
                    <form method="post" id="form" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                        {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                        <div class="column">
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.data_pagamento|attr:"rel:date" class="four wide" %}
                                {% include 'partials/form_field.html' with field=form.valor_pago class="four wide" %}
                            </div>
                        </div>
                        <button onclick="enviar();" type="button" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar
                        </button>
                        <a href="{% url 'cadastros-credenciamento-list' %}"
                           class="ui labeled icon button black right floated">
                            <i class="cancel icon"></i>
                            Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_mensagem" class="ui tiny modal">
        <div class="header">Tem certeza que deseja credenciar como cortesia?</div>
        <div class="actions">
            <div class="ui negative button">Não</div>
            <div class="ui positive right labeled icon button">Confirmar <i class="checkmark icon"></i></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const enviar = () => {
            if ($('#id_valor_pago').val() == '0') {
                mensagem();
            } else {
                $('#form').submit();
            }
        };

        function mensagem() {
            let modal = $('#modal_mensagem');
            modal.modal({
                closable: false,
                onApprove: function () {
                    $('#form').submit();
                }
            }).modal('show');
        }
    </script>
{% endblock %}