{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de promotores credenciados</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
                <table class="ui celled selectable compact table datatable">
                    <thead>
                    <tr>
                        <th class="center aligned one wide">CPF</th>
                        <th class="center aligned two wide">Promotor</th>
                        <th class="center aligned one wide">Código indicação</th>
                        <th class="center aligned two wide">Indicado por</th>
                        <th class="center aligned two wide">Valor pago</th>
                        <th class="center aligned one wide">Data pagamento</th>
                        <th class="center aligned one wide no-sort">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if credenciamento_lista %}
                        {% for promo_crede in credenciamento_lista %}
                            <tr>
                                <td>{{ promo_crede.promotor.cpf_mascara }}</td>
                                <td>{{ promo_crede.promotor }}</td>
                                <td>
                                    {% if promo_crede.promotor.codigoindicacao %}
                                        {{ promo_crede.promotor.codigoindicacao }}
                                    {% else %}
                                        Sem indicação.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if promo_crede.agencia_indicacao %}
                                        {{ promo_crede.agencia_indicacao.codigo_indicacao }} -
                                        {{ promo_crede.agencia_indicacao }}
                                    {% endif %}
                                    {% if promo_crede.promotor_indicacao %}
                                        {{ promo_crede.promotor_indicacao.codigoindicacao }} -
                                        {{ promo_crede.promotor_indicacao }}
                                    {% endif %}
                                    {% if not promo_crede.promotor_indicacao and not promo_crede.agencia_indicacao %}
                                        Sem indicação.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if promo_crede.valor_pago %}
                                        <span style="float: right;">
                                        R$ {{ promo_crede.valor_pago_formatado }}
                                    </span>
                                    {% else %}
                                        {% if promo_crede.valor_pago  ==  0 %}
                                            Cortesia
                                        {% else %}
                                            Não foi pago.
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ promo_crede.data_pagamento | date:'d/m/Y' }}</td>
                                <td class="center aligned">
                                    <a href="{% url 'cadastros-credenciamento-update' promo_crede.id %}"
                                       class="ui icon tiny button green">Credenciar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">
                                <div class="ui ignored warning message">
                                    <b>Nenhuma ação cadastrada.</b>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}