{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui one column grid">
                    <div class="column">
                        <h2>
                            <i class="add circle icon"></i>Formulário de job</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="column">
                <div class="ui form {% if form.errors %}error{% endif %}">
                    {{ form.non_field_errors }} {% if form.errors %}
                    <div class="ui error message">
                        <p>
                            {% if form.errors|length == 1 %} Por favor, corrija o erro abaixo. {% else %} Por favor,
                                corrija
                                os erros abaixo. {% endif %}
                        </p>
                    </div>
                {% endif %}
                    <form method="post" id="form" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                        {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                        <div class="column">
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.acao class="four wide" label="Ação" %}
                                {% include 'partials/form_field.html' with field=form.tipo class="four wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.modo_pagamento label="" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.observacao label="Observação" class="eight wide" %}
                            </div>
                            <h4 class="ui horizontal divider header">
                                <i class="users icon"></i> Quantidades de vagas
                            </h4>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.quantidade_vagas_totais label="Totais" class="four wide" %}
                                {% include 'partials/form_field.html' with field=form.quantidade_vagas_disponiveis label="Disponíveis" class="four wide" %}
                            </div>
                            <h4 class="ui horizontal divider header">
                                <i class="money bill alternate icon"></i>
                                Pagamento
                            </h4>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.quantidade_de_modo_pagamento label="Quant. de vezes que será pago" class="four wide" %}
                                {% include 'partials/form_field.html' with field=form.cache_por_modo_pagamento label="Valor pago por vez" class="four wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.cache_individual label="Valor individual" class="four wide" %}
                                {% include 'partials/form_field.html' with field=form.cache_total label="Total" class="four wide" %}
                            </div>
                            <h4 class="ui  horizontal divider header">
                                <i class="filter icon"></i>
                                Perfil
                            </h4>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.perfil_sexo label="Sexo" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.perfil_idade_minima label="Idade mínima" class="two wide" %}
                                {% include 'partials/form_field.html' with field=form.perfil_idade_maxima label="Idade máxima" class="two wide" %}
                                {% include 'partials/form_field.html' with field=form.perfil_altura_minima label="Altura mínima" class="two wide" %}
                                {% include 'partials/form_field.html' with field=form.perfil_altura_maxima label="Altura máxima" class="two wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.cor_de_pele label="Cor da pele" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.cor_do_cabelo label="Cor do cabelo" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.cor_dos_olhos label="Cor dos olhos" class="eight wide" %}
                            </div>
                        </div>

                        <button type="submit" name="outro" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar e cadastrar outro
                        </button>
                        <button type="submit" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar
                        </button>
                        <a href="{% url 'cadastros-job-list' %}" class="ui labeled icon button black right floated">
                            <i class="cancel icon"></i>
                            Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="load" class="ui active dimmer">
        <div class="ui text loader">Carregando</div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const $quantidade_vagas_totais = $('#id_quantidade_vagas_totais');
        const $id_cache_individual = $('#id_cache_individual');
        const $id_cache_total = $('#id_cache_total');
        const $id_cache_por_modo_pagamento = $('#id_cache_por_modo_pagamento');
        const $id_quantidade_de_modo_pagamento = $('#id_quantidade_de_modo_pagamento');
        const $id_tipo = $('#id_tipo');

        $id_cache_individual.attr('readonly', true);
        $id_cache_total.attr('readonly', true);

        let FUNCAO = () => {
            if ($id_cache_por_modo_pagamento.val() && $id_quantidade_de_modo_pagamento.val() && $quantidade_vagas_totais.val()) {
                $id_cache_individual.val(parseFloat($id_quantidade_de_modo_pagamento.val()) * parseFloat($id_cache_por_modo_pagamento.val()));
                $id_cache_total.val(parseFloat($quantidade_vagas_totais.val()) * parseFloat($id_cache_individual.val()));
            }
        };

        $id_cache_por_modo_pagamento.change(function () {
            FUNCAO();
        });

        $id_quantidade_de_modo_pagamento.change(function () {
            FUNCAO();
        });

        $quantidade_vagas_totais.change(function () {
            FUNCAO();
        });

        function load(load) {
            if (load) {
                $('#load').addClass('active')
            } else {
                $('#load').removeClass('active')
            }
        }

        $.ajax({
            headers: {
                'Authorization': 'Token {{ user.token }}',
                'Content-Type': 'application/json'
            },
            type: 'GET',
            url: `${window.location.origin}/api/tipo-job/`,
            success: function (tipos) {
                localStorage.setItem('TIPOS_JOBS', JSON.stringify(tipos));
                load(false);
            },
            error: function (response) {
                load(false);
                toastr.error(response.responseJSON.detail);
            },

        });

        $id_tipo.change(function () {
            if ($id_tipo.val()) {
                let tipos = JSON.parse(localStorage.getItem('TIPOS_JOBS'));
                tipos = tipos.filter((x) => {
                    return x.id == $id_tipo.val()
                })[0];
                $('#id_modo_pagamento').val(tipos.modo_pagamento_sugerido);
            }
        });

    </script>
{% endblock %}
