{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de job</h2>
                    </div>
                    <div class="column">
                        <a href="{% url 'cadastros-job-create' %}"
                           class="ui labeled right floated icon button">
                            <i class="plus icon"></i>
                            Novo job
                        </a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <table class="ui celled selectable compact table">
                    <thead>
                    <tr>
                        <th class="center aligned one wide">Código</th>
                        <th class="center aligned two wide">Ação</th>
                        <th class="center aligned two wide">Tipo</th>
                        <th class="center aligned one wide">Modo de pagamento</th>
                        <th class="center aligned one wide">Vagas totais</th>
                        <th class="center aligned one wide">Vagas disponíveis</th>
                        <th class="center aligned one wide">Quant. de vezes que será pago</th>
                        <th class="center aligned one wide">Valor pago por vez</th>
                        <th class="center aligned one wide">Valor individual</th>
                        <th class="center aligned one wide">Valor total</th>
                        <th class="center aligned two wide no-sort">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if job_lista %}
                        {% for job in job_lista %}
                            <tr>
                                <td>{{ job.id }}</td>
                                <td>{{ job.acao }}</td>
                                <td>{{ job.tipo }}</td>
                                <td>{{ job.get_modo_pagamento_display }}</td>
                                <td>{{ job.quantidade_vagas_totais }}</td>
                                <td>{{ job.quantidade_vagas_disponiveis }}</td>
                                <td>{{ job.quantidade_de_modo_pagamento }}</td>
                                <td>{{ job.cache_por_modo_pagamento }}</td>
                                <td>{{ job.cache_individual }}</td>
                                <td>{{ job.cache_total }}</td>
                                <td class="center aligned">
                                    <a href="{% url 'cadastros-job-update' job.id %}"
                                       class="ui icon tiny button green">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a class="ui icon tiny button red"
                                       onclick="MODAL_APAGAR('Confirma a exclusão do job?', '{% url 'cadastros-job-delete' job.id %}')">
                                        <i class="trash icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">
                                <div class="ui ignored warning message">
                                    <b>Nenhuma job cadastrado.</b>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}