{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui one column grid">
                    <div class="column">
                        <h2>
                            <i class="add circle icon"></i>Formulário de ação</h2>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
            <div class="column">
                <div class="ui form {% if form.errors %}error{% endif %}">
                    {{ form.non_field_errors }} {% if form.errors %}
                    <div class="ui error message">
                        <p>
                            {% if form.errors|length == 1 %} Por favor, corrija o erro abaixo. {% else %} Por favor,
                                corrija
                                os erros abaixo. {% endif %}
                        </p>
                    </div>
                {% endif %}
                    <form method="post" id="form" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
                        {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                        <div class="column">
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.agencia class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.cidade label="Cidade" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.datahora_inicio_exibicao label="Data e hora do início da exibição" class="four wide datetime" %}
                                {% include 'partials/form_field.html' with field=form.datahora_fim_exibicao label="Data e hora do fim da exibição" class="four wide datetime" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.datahora_inicio_acao label="Data e hora do início da ação" class="four wide datetime" %}
                                {% include 'partials/form_field.html' with field=form.datahora_fim_acao label="Data e hora do fim da ação" class="four wide datetime" %}
                            </div>
                            <h4 class="ui horizontal divider header"><i class="eye icon"></i> Dados públicos</h4>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.publico_titulo label="Título" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.publico_descricao label="Descrição" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.publico_local label="Local" class="eight wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.publico_tem_entrevista label="Tem entrevista?" class="six wide" %}
                            </div>
                            <div class="fields">
                                {% include 'partials/form_field.html' with field=form.publico_local_entrevista label="Local da entrevista"  class="four wide tem_entrevista" %}
                                {% include 'partials/form_field.html' with field=form.publico_data_hora_entrevista label="Data e hora de entrevista"  class="four wide tem_entrevista" %}
                            </div>
                        </div>
                        <button type="submit" name="outro" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar e cadastrar outro
                        </button>
                        <button type="submit" class="ui labeled icon button teal right floated">
                            <i class="save icon"></i>
                            Salvar
                        </button>
                        <a href="{% url 'cadastros-acao-list' %}" class="ui labeled icon button black right floated">
                            <i class="cancel icon"></i>
                            Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let $tem_entrevista = $('.tem_entrevista');
        let $id_publico_tem_entrevista = $('#id_publico_tem_entrevista');
        let funcao = () => {
            if ($id_publico_tem_entrevista.is(":checked")) {
                $tem_entrevista.find('input').attr('readonly', false);
                $tem_entrevista.find('select').attr('disabled', false);
                $('#id_publico_data_hora_entrevista').addClass('datetime');
                DATETIME();
                $tem_entrevista.addClass('required');
            } else {
                $tem_entrevista.find('input').attr('readonly', true);
                $tem_entrevista.find('select').attr('disabled', true);
                $('#id_publico_data_hora_entrevista').removeClass('datetime');
                $tem_entrevista.find('input').val('');
                $tem_entrevista.removeClass('required');
            }
        };
        funcao();
        $id_publico_tem_entrevista.change(function () {
            funcao();
        });
        $tem_entrevista.find('input').click(function () {
            if (!$id_publico_tem_entrevista.is(":checked")) {
                toastr.error('É necessário marcar que tem entrevista.')
            }
        });
    </script>
{% endblock %}
