{% extends 'partials/layout.html' %} {% block content %}
    <div class="ui segment">
        <div class="ui one column grid">
            <div class="column">
                <div class="ui two column grid">
                    <div class="column">
                        <h2>
                            <i class="list circle icon"></i>Lista de ação</h2>
                    </div>
                    <div class="column">
                        <a href="{% url 'cadastros-acao-create' %}"
                           class="ui labeled right floated icon button">
                            <i class="plus icon"></i>
                            Nova acão
                        </a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <table class="ui celled selectable compact table">
                    <thead>
                    <tr>
                        <th class="center aligned one wide">Código</th>
                        <th class="center aligned two wide">Agência</th>
                        <th class="center aligned two wide">Cidade</th>
                        <th class="center aligned one wide">Início da exibição</th>
                        <th class="center aligned one wide">Fim da exibição</th>
                        <th class="center aligned one wide">Início da ação</th>
                        <th class="center aligned one wide">Fim da ação</th>
                        <th class="center aligned two wide">Título</th>
                        <th class="center aligned two wide">Local</th>
                        <th class="center aligned two wide">Entrevista</th>
                        <th class="center aligned two wide no-sort">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if acao_lista %}
                        {% for acao in acao_lista %}
                            <tr>
                                <td>{{ acao.id }}</td>
                                <td>{{ acao.agencia }}</td>
                                <td>{{ acao.cidade }}</td>
                                <td class="center aligned one wide">{{ acao.datahora_inicio_acao|date:"d/m/Y H:i" }}</td>
                                <td class="center aligned one wide">{{ acao.datahora_fim_exibicao|date:"d/m/Y H:i" }}</td>
                                <td class="center aligned one wide">{{ acao.datahora_inicio_acao|date:"d/m/Y H:i" }}</td>
                                <td class="center aligned one wide">{{ acao.datahora_fim_acao|date:"d/m/Y H:i" }}</td>
                                <td>{{ acao.publico_titulo }}</td>
                                <td>{{ acao.publico_local }}</td>
                                <td class="center aligned one wide">
                                    {% if acao.publico_tem_entrevista %}
                                        {{ acao.publico_local_entrevista }}<br>
                                        {{ acao.publico_data_hora_entrevista }}
                                    {% else %}
                                        <i class="remove circle red outline icon"></i>
                                    {% endif %}
                                </td>
                                <td class="center aligned">
                                    <a href="{% url 'cadastros-acao-update' acao.id %}"
                                       class="ui icon tiny button green">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a class="ui icon tiny button red"
                                       onclick="MODAL_APAGAR('Confirma a exclusão de ação?', '{% url 'cadastros-acao-delete' acao.id %}')">
                                        <i class="trash icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="10">
                                <div class="ui ignored warning message">
                                    <b>Nenhuma ação cadastrada.</b>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}